doctype html
div.standard-page

  p.
    FUNDABITAT realiza trabajos de investiagacion y asesoramiento en el ámbito regional, promoviendo el
    intercambio de experiencas de desarrollo alternativo en:

  md-divider

  div(layout="row" layout-wrap layout-padding)
    div.section(layout="row" layout-align="center stretch" flex-xs="100" flex-gt-xs="50" layout-wrap
    ng-repeat="area in $ctrl.areas")

      md-card
        div.img-cont
          img.md-card-image(layout-fill ng-src="{{area.image}}" alt="{{area.name}}")

        div(layout="column" layout-padding)
          span.name {{area.name}}
