doctype html
div.standard-page

  p.
    FUNDABITAT ha establecido sólidas alianzas, trabajando junto a importantes OGs, ONGs y la empresa privada del
    país y del exterior.

  md-divider

  div(layout="row" layout-wrap layout-padding)
    div.section(layout="row" layout-align="center stretch" flex-xs="100" flex-sm="50" flex-gt-sm="33" layout-wrap
    ng-repeat="mem in $ctrl.members")

      md-card
        div.img-cont
          img.md-card-image(layout-fill ng-src="{{mem.photo}}" alt="{{n.name}}")

        div(layout="column" layout-padding)
          span.name {{mem.name}}
          md-divider
          span.description {{mem.description}}
