@import '../../../shared/_colors.scss';

about-team {

  md-card {
    width: 250px;

    .img-cont {
      height: 250px;

      img { object-fit: cover; }
    }

    span.name { font-size: 16pt; }
    span.description { font-size: 11pt; }
  }
}
