doctype html
md-toolbar
h1 Areas Temáticas

p
  b FUNDABITAT
  |  realiza trabajos de investigación y asesoramiento en el ámbito regional, promoviendo el intercambio de experiencias
  |de desarrollo alternativo en:

ul
  li(ng-repeat="n in ar.areas")
    spam {{n}}
