doctype html
md-toolbar
h1(style="margin-left: 1cm") Areas Temáticas

p(style="margin-left: 1cm; margin-right: 2cm")
  b FUNDABITAT
  |  realiza trabajos de investigación y asesoramiento en el ámbito regional, promoviendo el intercambio de experiencias
  |de desarrollo alternativo en:

ul
  li(ng-repeat="n in ar.areas" style="margin-left: 1cm")
    spam {{n}}
