div(layout="column" layout-align="start center")
  img.FD(ng-src='/src/assets/images/logo.png')

p
  b FUNDABITAT
  | –Fundación Venezolana para la Preservación del Habitat, Promoción y Defensa de las Culturas-, es una
  |organización privada, no lucrativa, con sede permanente en Venezuela, constituida para realizar investigaciones
  |aplicadas, de carácter multidisciplinario relativas al hábitat y su mejor apropiación, que ayuden a la cooperación
  |técnica y al progreso social de la región, en el marco del respeto a las diferentes culturas y en armonía con el
  |manejo sostenible y equitativo de los recursos del medio.

img.end(ng-src='/src/assets/images/Logo-ANAR.png')
img.end(ng-src='/src/assets/images/logo-retam.png')