doctype html

div.programs
  h1 Programas y Proyectos:

  p
    b FUNDABITAT
    |  desarrolla los Proyectos, en el marco de sus
    b  Programas de Formación y Capacitación:

  h2 Piloto de Construcción con Tecnologías Apropiadas y Apropiables

  p
    |Está dirigido a la investigación, desarrollo y aplicación de tecnologías y sistemas constructivos con tierra, dando
    |las suficientes herramientas en todas las fases de la cadena de producción, dentro de un marco tipológico regional
    |y cultural.

  p
    |2011
    b  • Creación y puesta en marcha del SISTEMA RETAM – Página web + Base de Datos sobre Tecnologías Apropiadas y
      |Apropiables de la Amazonia, en: Construcción, Saneamiento Básico Ambiental y Energías Alternas.
    |Bolivia, Brasil, Colombia , Ecuador, Guyana, Perú, Suriname y Venezuela.
    |OEA, FFPG, CAF, UNAMAZ

  p
    |2010
    b  • 2ª Etapa. Base de Datos sobre Tecnologías Apropiadas y Apropiables de la Amazonia de en: Construcción,
      |Saneamiento Básico Ambiental y Energías Alternas.
    |Ecuador, Guyana, Perú y Suriname.
    |OEA, FFPG, CAF, UNAMAZ

  p
    |2007-2010
    b • Tecnologías Apropiadas y Apropiables de la Amazonia, en: Construcción, Saneamiento Básico Ambiental y Energías
      |alternas. Las experiencias amazónicas para la puesta en marcha de la Red de Tecnologías Apropiadas del Amazonas
      |RETAM (2ª etapa).
    |Amazonia de Ecuador, Guyana, Perú y Suriname.
    |OEA, FFPG, CAF, UNAMAZ

  P
    |2001-2002
    b  • Formación de las familias de las 7 Comunidades JIWI-Guahibo del corredor vial Samariapo- Boca del río Sipapo,
      |en la elaboración de la línea de materiales de construcción con tierra cocida, a través de la Metodología
      |Participativa.
      |Estado
    |Amazonas, Venezuela.
    |Programa Sobremarcha-CIARA.

  p
    |2000
    b • 1ª Etapa. Base de Datos sobre Tecnologías Apropiadas y Apropiables de la Amazonia de Bolivia, Brasil, Colombia y
      |Venezuela en: Construcción, Saneamiento Básico Ambiental y Energías Alternas.
    |FAO , TCA / SP Venezuela

  p
    |1997–1999
    b • Tecnologías Apropiadas y Apropiables de la Amazonia, en: Construcción, Saneamiento Básico Ambiental y Energías
      |alternas. Las experiencias amazónicas para la creación de la Red de Tecnologías Apropiadas del Amazonas RETAM
      |(1ª etapa).
    |FAO, TCA / SP Venezuela

  p
    |1998
    b • Generación y Transferencia de Tecnologías sobre Plantas útiles del Amazonas, y Sistemas de Producción Indígena.
    |En el marco del proyecto RLA/92/6/32 Capacitación para el Aprovechamiento Sustentable de la Biodiversidad Amazónica.
    |PNUD, TCA / SP Perú, SADA AMAZONAS / MARNR Venezuela

  p
    |1990-1995 • 15.000 Años de Vivienda Indígena en Venezuela .
    |Proyecto regional entre Venezuela, Colombia y Brasil.
    |UNESCO, OEA


