publications {

  div.publications {
    padding: 20px 100px 20px 30px;
  }

  p {
    text-align: left;
  }

  div.text {
    text-align: left;
    margin-bottom: 20px;
  }

  div.description {
    margin-right: 10px;
  }

  img {
    width: 300px;
    float: right;
    margin: 10px;
  }
}

