doctype html
div.standard-page

  p.
    FUNDABITAT ha establecido sólidas alianzas, trabajando junto a importantes OGs, ONGs y la empresa privada del
    país y del exterior.

  md-divider
  h1 Nacionales

  div(layout="row" layout-align="space-around start" layout-wrap)
    div.section(layout="row" layout-align="center center" flex="33" ng-repeat="nat in $ctrl.nationals")
      a(href="{{nat.link}}"): div.element(layout="column" layout-align="start center" layout-padding)
        .img-cont(layout="row" layout-align="center center")
          img(ng-src="{{nat.image}}")
        span {{nat.name}}

  md-divider
  h1 Internacionales

  div(layout="row" layout-align="space-around start" layout-wrap)
    div.section(layout="row" layout-align="center center" flex="33" ng-repeat="nat in $ctrl.internationals")
      a(href="{{nat.link}}"): div.element(layout="column" layout-align="start center" layout-padding)
        .img-cont(layout="row" layout-align="center center")
          img(ng-src="{{nat.image}}")
        span {{nat.name}}

  md-divider
  h1 Fundabitat es miembro de:

  div(layout="row" layout-align="space-around start" layout-wrap)
    div.section(layout="row" layout-align="center center" flex="33" ng-repeat="nat in $ctrl.members")
      a(href="{{nat.link}}"): div.element(layout="column" layout-align="start center" layout-padding)
        .img-cont(layout="row" layout-align="center center")
          img(ng-src="{{nat.image}}")
        span {{nat.name}}
