about-relations {

  div.relations {
    padding: 20px 100px 20px 30px;;
  }

  div.name {
    font-weight: bold;
    text-align: center;
  }

  .section {
    //margin-bottom: 10px;
  }

  .element {

    .img-cont {
      width: 150px;
      height: 150px;

      img {
        object-fit: contain;
        height: 100%;
      }
    }
    text-align: center;

    span {
      font-weight: bold;
      font-size: 12pt;
    }
  }
}
