doctype html
div.content(layout="column" layout-align="center center" layout-padding layout-fill md-colors="{background: 'primary-700'}")

  img(src="/assets/images/logo-fundabitat.png")

  p.description.
    Fundabitat es una organizaci贸n privada sin fines de lucro constituida para realizar investigaciones aplicadas
    relativas al h贸bitat y su mejor apropiaci贸n

  md-button.md-accent.md-raised(ui-sref="Root.About") CONOCE MAS SOBRE NOSOTROS

  md-divider.md-accent

  p.note Adem贸s, Fundabitat crea y coordina:

  div.extra(layout="row")
    a(layout="column" layout-align="start center" href="http://www.anar.org.ve")
      img(src="/assets/images/logo-anar.png")
      span.link www.anar.org.ve

    a(layout="column" layout-align="start center" href="http://www.retam.org")
      img(src="/assets/images/logo-retam.png")
      span www.retam.org

