doctype html
div.content(layout="column" layout-align="center center" md-colors="{background: 'primary-700'}")
  div.wrapper(layout="column" layout-align="start center" layout-padding)

    img(src="/assets/images/logo-fundabitat.png")

    p.description.
      Asociación Civil, sin fines de lucro constituida para realizar investigaciones
      multi e interdisciplinarias, relativas al hábitat y su mejor apropiación

    md-button.md-accent.md-raised(ui-sref="Root.About") CONOCE MAS SOBRE NOSOTROS

    md-divider.md-accent

    p.note <b>FUNDABITAT</b> crea y coordina:

    div.extra(layout="row")
      a(layout="column" layout-align="start center" href="http://www.anar.org.ve")
        img(src="/assets/images/logo-anar.png")
        span.link www.anar.org.ve

      a(layout="column" layout-align="start center" ui-sref="Retam")
        img(src="/assets/images/logo-retam.png")
        span www.retam.org