home {
  a {
    text-decoration: none;
    color: white;
  }

  h1 {
    font-size: 60pt;
    margin: 0;
  }

  p {
    text-align: center;
  }

  md-divider {
    width: 100%;
    margin-top: 35px;
  }
}
