doctype html
div(layout="column" layout-align="center center" layout-padding layout-fill md-colors="{background: 'primary-700'}")
  a(ui-sref="Root.About")
    h1 FUNDABITAT

  p.
    Fundabitat es una organización privada sin fines de lucro constituida para realizar investigaciones aplicadas
    relativas al hóbitat y su mejor apropiación

  md-button.md-accent.md-raised(ui-sref="Root.About") CONOCE MAS SOBRE NOSOTROS

  md-divider.md-accent

