doctype html
md-sidenav.md-sidenav-left(md-colors="{background: 'primary'}"
md-component-id="left" md-is-locked-open="true" md-disable-backdrop md-whiteframe="4")
  // SIDENAV HEADER
  p(ui-sref="root") [Fundabitat logo here]

  // SIDENAV LINKS
  md-content
    div(layout="column" ng-repeat="link in n.links")

      md-button.md-primary.md-raised.md-cornered(ui-state="link.state" ui-sref-active="md-accent"
      md-colors="{background: 'primary', color: 'white'}") {{link.name}}

      md-button.md-primary.md-raised.md-cornered(ng-repeat="child in link.childs"
      ui-state="child.state" ui-sref-active="md-accent") --- {{child.name}}
