doctype html
md-sidenav.md-sidenav-left(md-colors="{background: 'primary-600'}"
md-component-id="left" md-is-locked-open="true" md-disable-backdrop md-whiteframe="4")

  div.header(layout="column" layout-align="start center" ui-sref="Home")
    img(src="assets/images/logo-fundabitat.png")

  md-content.links(flex md-colors="{background: 'grey-900'}")
    div(layout="column" ng-repeat="link in n.links")

      a.md-button.md-raised.md-cornered(
      ui-state="link.state" ui-sref-active="md-accent")
        | {{link.name}}

      a.md-button.md-raised.md-cornered.child(
      ng-repeat="child in link.childs"
      ui-state="child.state" ui-sref-active="md-accent")
        | {{child.name}}

      md-divider(md-colors="{background: 'grey-800'}")
