doctype html
h1 Relaciones

p FUNDABITAT ha establecido sólidas alianzas, trabajando junto a importantes OGs, ONGs y la empresa privada del país y del exterior.

//TODO add images
h2 Nacionales
ul.nationals
  div(layout="row" layout-xs="column" layout-wrap)
    div(flex="50" ng-repeat="n in r.nationals")
      span.name {{n.name}}
      span.description {{n.description}}

h2 Internacionales
ul.internationals
  div(layout="row" layout-xs="column" layout-wrap)
    div(flex="50" ng-repeat="n in r.internationals")
      span.name {{n.name}}
      span.description {{n.description}}

h2 FUNDABITAT ha sido admitida como miembro de:
ul.members
  div(layout="row" layout-xs="column" layout-wrap)
    div(flex="50" ng-repeat="n in r.members")
      span.name {{n.name}}
      span.description {{n.description}}
