about-relations {

  div.relations {
    padding: 20px 100px 20px 30px;;
  }

  div.name {
    font-weight: bold;
    text-align: center;
  }

  div.description {
    text-align: center;
  }
  img {
    width: 150px;
  }
}
