doctype html
div.content(layout="column" layout-align="center center" md-colors="{background: 'primary-700'}")
  div.wrapper(layout="column" layout-align="start center" layout-padding)

    img(src="/assets/images/logo-retam.png")

    h1 Página en Construcción

    md-button(ui-sref="Home") Regresar a la página principal