doctype html
div.standard-page(layout="column")

  p.
    FUNDABITAT impulsa iniciativas que promuevan la inversi贸n en recursos humanos, identifiquen y analicen problemas,
    e implementen soluciones, promoviendo la participaci贸n comunitaria directa.

  p.
    incluye como parte integral de sus actividades, la producci贸n de documentos impresos y audiovisuales relacionados
    con sus temas de investigaci贸n.

  md-card(layout="row" layout-align="start stretch" ng-repeat="pub in $ctrl.publications" layout-padding)
    div(layout="column" flex)
      div.title(layout="column" flex)
        h2 {{pub.title}}
        p: small {{pub.author}}
      md-divider

      p(ng-repeat="par in pub.description") {{par}}

    div.img-cont
      img(ng-src="{{pub.image}}")
